# IDEs
.vscode
.idea

# Misc
.DS_Store

# Build
build/
cmake-build-*/

# vcpkg
vcpkg_installed/

# clangd index and compile database
.cache/
compile_commands.json

# Force-track justfile despite global ignore
!justfile

